#heading{
    background-image: linear-gradient(to bottom right, rgb(69, 184, 69), yellow, rgb(163, 71, 71));
    border: 3px dotted blue;
    width: 60%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

marquee{
    font-size: 20px;
}

#face_scan {
    width: 350px;
    float: left;

}

.font{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#family_div{
    border-top: rgb(20, 220, 160) 4px solid;
    border-bottom: rgb(20, 220, 160) 4px solid;
}

.cam{
    border: 6px brown double;
    width: 400px;
    height: 400px;
}

#cam_1{
    float: left;
}

#cam_2{
    float: right;
}
